<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Dating App</a>

    <ul class="navbar-nav me-auto my-2 my-lg-0" *ngIf="loggedIn">
      <li class="nav-item">
        <a class="nav-link">Match</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Message</a>
      </li>
      <li class="nav-item" (click)="logout()">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
    <div class="dropdown" *ngIf="loggedIn" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Welcome user</a>
      <div class="dropdown-menu" *dropdownMenu="">
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form *ngIf="!loggedIn" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
        aria-label="Search"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
